*{
    margin: 0;
}


body{
    margin: 0;
    font-family: Roboto;
    background-color: #080F28;
    /*#1E272C*/
    color: #fff;                                          
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}


/*ACA ESTA EL ESTILO DEL NAV QUE APARECE EN TODAS LAS PAGINAS*/
.nav{
    background-color: transparent;
    margin-bottom: 25px;
    border-bottom: 1px solid #fff;
}
.icono{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.nav_lista{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    height: 10vh;
    font-size: 16px;
    align-items: center;
    font-family: Montserrat;
}

.lista_item{
    list-style-type: none;
    padding: 15px;

}

.login{
    margin-left: 30%;
    margin-right: 5%;
}

.item_link{
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
}



.item_link:hover{
    padding: 15px;
    background-color: #39b9f5;
    border-radius: 10px;
}

/*ACA TERMINA*/



.titulo{
    text-align: center;
}

/*FORMULARIO LOGIN*/

.contenedor_banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 600px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.formulario{
    display: flex;
    margin: 40px auto 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}


.formulario input{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: solid 2px #aaa;
    background-color: transparent;
    color: #fff;
}

.formulario input:hover{
    inherits: padding,color;
    border: solid 2px #39b9f5;
}

.formulario a{
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #f00;
    border-radius: 10px;
}

.formulario .formulario_submit{
    background-color: #3989d5;
    color: #fff;
}

.formulario_link{
    padding: 5px;
    background-color: #aaa;
    color: #fff;
}

/*FORMULARIO REGISTRO USUARIO*/

.formulario_registro{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 40px auto 40px auto;
}

.formulario_registro input{
    border-radius: 10px;
    border: solid 2px #aaa;
    background-color: transparent;
}

.formulario_registro input:hover{
    inherits: border-radius,background-color;
    border: 2px solid #39b9f5;
}

.contenedor1, .contenedor2{
    display: flex;
    flex-flow: row wrap;
    height: 50%;
    padding: 10px;
}

.contenedor1{
    width: 25%;
    justify-self: flex-end;
}

.contenedor2{
    width: 25%;
    justify-self: center;
}

.contenedor3{
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    height: 60%;
}

.contenedor4{
    justify-self: center;
    grid-column: 2 / 3;
}

.contenedor1 input,.contenedor2 input, .contenedor3 label{
    margin-bottom: 25%;
}

.input_datos{
    padding: 10px;
}

.contenedor4_submit, .contenedor4_link{
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.contenedor4 input{
    background-color: #39b9f5;
}

.contenedor4 a{
    background-color: rgb(219, 16, 16);
}

.contenedor4_link{
    text-decoration: none;
    background-color: #aaa;
    color: #fff;
}

.label_input{
    white-space: nowrap;
}

.radio_input{
    padding: 10px;
}

/*PANTALLA DE INICIO*/

.barra_de_busqueda{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.buscador input, .seleccion_categoria select{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #0e1a46;
    color: #fff;
}

.buscador input{
    background-color: transparent;
}

.buscador input:hover, .seleccion_categoria select:hover{
    border: 2px solid #3989d5;
}


.peliculas{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    justify-content: space-around;
    margin: 30px auto;
    
}

.link_imagen img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid #080F28 2px;
}

.link_imagen img:hover{
    border-radius: 10px;
    border: solid #3989d5 2px;
}

.link_imagen{
    text-decoration: none;
    color: #fff;
}


/*PERFIL*/

.user_img_container{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.user_img_container img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #aaa;
}

.formulario_perfil{
    display: grid;
    grid-template-columns: repeat(2,20%);
    margin: auto;
    justify-content: space-around;
    gap: 60px;
    width: 80vw;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contenedor_perfil1, .contenedor_perfil2{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: auto;
}


.contenedor_perfil3{
    grid-column: 1/3;
    grid-row: 2;
    justify-self: center;
    width:70%;
}

.contenedor_perfil1 input{
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.contenedor_perfil3 input{
    padding: 15px;
    background-color: #39b9f5;
    border-radius: 10px;
    border: 2px solid #fff;
    width: 40%;
}

.contenedor_perfil3 a{
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #f00;
    text-decoration: none;
    color: #fff;
}

.contenedor_perfil2 .radio_input{
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.contenedor_perfil2 .radio_input:hover{
    inherits: padding;
    border: 2px solid #39b9f5;
}

.contenedor_perfil1 input:hover{
    inherits: padding;
    border: 2px solid #39b9f5;
}

::placeholder{
    color: #fff;
}



/*PIE DE PAGINA*/

.pieDePagina{
    background-color: transparent;
    display: flex;
    padding: 30px;
    align-items: center;
    width: 100%;
    font-family: Montserrat;
    border-top: 1px solid #fff;
}

.pieDePagina p{
    color: #fff;
}

.pieDePagina img{
    margin-left: 50px;
}

.pieDePagina a{
    text-decoration: none;
    color: #fff;
}




