*{
    margin: 0;
    padding: 0;
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
}


body{
    margin: 0;
    font-family: Roboto;
    background-color: #080F28;
    /*#1E272C*/
    color: #fff;                                      
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}


/*ACA ESTA EL ESTILO DEL NAV QUE APARECE EN TODAS LAS PAGINAS*/
.nav{
    background-color: #080F28;
    margin-bottom: 25px;
    border-bottom: 1px solid #fff;
    box-shadow: 3px 3px 50px #0f1f58;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.icono{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.nav_lista{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 10vh;
    font-size: 16px;
    align-items: center;
    font-family: Montserrat;
}

.lista_item{
    list-style-type: none;
    padding: 15px;
}

.login{
    margin-left: 30%;
    margin-right: 5%;
}

.item_link{
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
}



.item_link:hover{
    padding: 15px;
    background-color: #39b9f5;
    border-radius: 10px;
}

.separador{
    width: 100%;
    height: 15vh;
}

/*ACA TERMINA*/



.titulo{
    text-align: center;
}

/*FORMULARIO LOGIN*/

.contenedor_banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 600px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.formulario{
    display: flex;
    margin: 40px auto 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}


.formulario input{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: solid 2px #aaa;
    background-color: transparent;
    color: #fff;
}

.formulario input:hover{
    inherits: padding,color;
    border: solid 2px #39b9f5;
}

.formulario a{
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #f00;
    border-radius: 10px;
}

.formulario .formulario_submit{
    background-color: #3989d5;
    color: #fff;
}

.formulario_link{
    padding: 5px;
    background-color: #aaa;
    color: #fff;
}

/*FORMULARIO REGISTRO USUARIO*/

.formulario_registro{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    margin-top: 60px;
    justify-items: center;
    align-items: start;
    box-sizing: border-box;
}

.contenedor1, .contenedor2, .contenedor3{
    display: flex;
    flex-flow: column wrap;
    width: 60%;
}

.contenedor1 input, .contenedor2 input, .contenedor3 input{
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #fff;
}

.contenedor4{
    display: flex;
    flex-flow: row wrap;
    grid-row: 2/2;
    grid-column: 2/2;
    height: 100%;
    margin-bottom: 60px;
}

.contenedor4 input, .contenedor4 a{
    padding: 10px;
    border: 2 px solid #fff;
    border-radius: 10px;
    width: 60%;
    background-color: #39b9f5;
    color: #fff;
    width: 100px;
    height: 50px;
    margin: 20px;
}

.contenedor4 a{
    display: flex;
    text-align: center;
    background-color: #f00;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.contenedor1 input:hover, .contenedor2 input:hover, .contenedor3 input:hover{
    border: 2px solid #3989d5;
}



.label_input{
    white-space: nowrap;
}



/*PANTALLA DE INICIO*/

.barra_de_busqueda{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    padding: 20px;
}


.buscador input,.seleccion_categoria select, .seleccion_año select{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #0e1a46;
    color: #fff;
}

.buscador button{
    background-color: transparent;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    background-color: #0e1a46;
    border: 2px solid #fff;
    margin: 0;
    cursor: pointer;
    width: 60px;
}

.imagen_lupa{
    width: 13px;
    height: 13px;
    background-size: cover;
}

.buscador input:hover, .seleccion_categoria select:hover, .seleccion_año select:hover{
    border: 2px solid #3989d5;
}

.arriba{
    background-image: url(../assets/images/arriba.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 50%;
    top: 80%;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0d1a47;
}


.peliculas{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    justify-content: space-around;
    margin: 30px auto;
}

.peliculas .link_imagen{
    justify-self: center;
}

.link_imagen img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid #080F28 2px;
}

.link_imagen img:hover{
    border-radius: 10px;
    border: solid #3989d5 2px;
}

.link_imagen{
    text-decoration: none;
    color: #fff;
}


/*PERFIL*/

.user_img_container{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.user_img_container img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #aaa;
}

.formulario_perfil{
    display: grid;
    grid-template-columns: auto 15%;
    justify-content: center;
    gap: 50px;
    margin: 40px auto 40px auto;
    font-family: Roboto;
}


.contenedor_perfil3{
    justify-self: center;
    grid-column: 1/3;
}

.contenedor_perfil1, .contenedor_perfil2{
    display: flex;
    flex-flow: column wrap;
    box-sizing: content-box;
}

.contenedor_perfil1 input, .contenedor_perfil2 input{
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.contenedor_perfil3 input{
    padding: 10px;
    border-radius: 10px;
    background-color: #39b9f5;
    color: #fff;
}
.contenedor_perfil3 a {
    padding: 10px;
    border-radius: 10px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.contenedor_perfil1 input:hover, .contenedor_perfil2 input:hover{
    border: 2px solid #39b9f5;
}



::placeholder{
    color: #fff;
}

/*DETALLE PELICULA*/
.seccion_detalle_pel{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.peliculas{
    position: relative;
}

.peliculas h2{
    position: absolute;
    top: -30px;
    left: 0px;
}

.trailer_pel{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 40px;
}

.trailer_pel iframe{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #080F28;
}

.trailer_pel a{
    padding: 10px;
    border-radius: 10px;
    background-color: #39b9f5;
    color: #fff;
    text-decoration: none;
    width: 70%;
    text-align: center;
}

.info_pel{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.info_pel textarea{
    background-color: transparent;
    color: #fff;
    font-family: Roboto;
    resize: none;
    border : none; 
}

/*DETALLE SERIE*/

.seccion_detalle_serie{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.series{
    position: relative;
}

.series h2{
    position: absolute;
    top: -30px;
    left: 0px;
}

.trailer_serie{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 40px;
}

.trailer_serie iframe{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #080F28;
}

.trailer_serie a{
    padding: 10px;
    border-radius: 10px;
    background-color: #39b9f5;
    color: #fff;
    text-decoration: none;
    width: 70%;
    text-align: center;
}

.info_serie{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

/*DISEÑO RESPONSIVE*/
@media screen and (max-width:60em){
    .nav .login{
        margin-left: 0;
        margin-right: 5%;
    }
    .peliculas{
        grid-template-columns: repeat(3,1fr);
    }
    .formulario_registro{
        grid-template-columns: repeat(2,1fr);
    }
    .formulario_perfil{
        display: flex;
        flex-flow: column;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .contenedor_perfil1{
        width: 20%;
        flex-flow: row wrap;
    }
    .contenedor_perfil2{
        width: 20%;
        flex-flow: row wrap;
    }
    .contenedor_perfil3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor_perfil3 a{
        margin-top: 15px;
    }
}

@media screen and (max-width:50em){
    .peliculas{
        grid-template-columns: repeat(2,1fr);
    }
    .formulario_registro{
        grid-template-columns: repeat(2,1fr);
    }
    .nav{
        position: static;

    }
    .separador{
        width: 1px;
        height: 1px;
    }
    .nav_lista{
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }


    .barra_de_busqueda{
        flex-flow: column wrap;
    }
    .barra_de_busqueda div{
        margin-bottom: 10px;
    }

    /*De la pagina login*/
    .banner{
        max-width: 70%;
    }
}

@media screen and (max-width:37em){
    .peliculas{
        grid-template-columns: 1fr;
    }
    .formulario_registro{
        grid-template-columns: 1fr;
    }
    .formulario_registro .contenedor4{
        grid-column: auto;
        grid-row: 4/4;
    }
    .pieDePagina p{
        display: none;
    }
    .formulario .banner{
        width: 20%;
    }
}





/*PIE DE PAGINA*/

.pieDePagina{
    background-color: transparent;
    display: flex;
    padding: 30px;
    align-items: center;
    width: 100%;
    font-family: Montserrat;
    border-top: 1px solid #fff;
}

.pieDePagina p{
    color: #fff;
}

.pieDePagina a{
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
}




